.footer {
  background: linear-gradient(
    150.12deg,
    rgba(0, 0, 0, 0.9) 18.24%,
    rgba(83, 0, 1, 0.9) 78.45%
  );
}

footer.footer > p {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 24; */
  text-align: center;
  color: #fff;
}
