@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/bankgothic-lt-bt');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    font-family: 'Poppins', sans-serif;
    background: #1E1E1E;
    overflow-x: hidden;
}


/* .header-bg {
    background-image: url('./bg.png ');
    mix-blend-mode: hard-light;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 59vh;
} */



.header-bg{
    position: relative;
    object-fit: contain;
    
}

.bg{
    margin: 0px;
    position: relative;
    margin: 0;
    width: 100%;
    mix-blend-mode: hard-light;
    height: 50vh;
}

.logo{
    position: absolute;
    width: 40%;
    height: 105%;
    left: 28%;
    bottom: 0%;
}

.Text1{
    font-size: 5vh;
    color: white;
    text-align: center;
}

.Text2{
    color: white;
    padding-top: 10vh;
    padding-left: 41vw;
    font-size: 60px;
    margin-bottom: 8vw;
}



.line{
    border-left: 6px solid white;
    height: 30vh;
    margin-left: 50vw;
}

