
.event-card-left{
    display: flex;
    width: 82vw;
    height: 60vh;
    margin-left: 12.6vw;
    margin-right: 10vw;
    color: white;

}

.left-card-left-side img{
    width: 30vw;
    height: 40vh;
    margin-left: 2vw;
    margin-top: 5vh;
}

.left-card-left-side h1{
    font-size: 3vh;
    padding-left: 2vw;
    margin-top: 5vh;
}

.card-line{
    border-left: 6px solid white;
    height: 59vh;
    margin-left: 10vw;
}


.left-card-right-side{    
    width: 50vw;
    padding-top: 10vh;
    padding-right: 10vw;
}

.left-card-right-side p{
    font-style: normal;
    font-size: 2vh;
    margin-left: 5vw;
    margin-top: 5vh;
}

.left-card-right-side h1{
    font-size: 3vh;
    margin-left: 5vw;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

        .event-card-left{
            display: flex;
            width: 100vw;
            height: 80vh;
            margin: 0;
            color: white;
            border: 6px solid #1e1e1e;
            flex-direction: column;
        }

        .left-card-left-side img{
            width: 100vw;
            height: 30vh;
            margin: 0;
        }
        .left-card-left-side h1{
            margin: 0;
        }
        
        .left-card-right-side{    
            margin: 0;
            padding-top: 0;
        }
        
        .left-card-right-side p{
            font-size: 10px;
            margin: 0;
            margin-left: 0px;
        }
        .card-line{
            border: 0px;
            height: 0;
        }
        
        .left-card-right-side h1{
            margin: 0;
        }
        
    }