    @import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Poppins&display=swap');
    @import url('http://fonts.cdnfonts.com/css/bankgothic-lt-bt');


    .event-card-right{
        display: flex;
        width: 82vw;
        height: 60vh;
        margin-left: 12.6vw;
        margin-right: 10vw;
        color: white;
        justify-content: center;
    }


    .right-card-right-side img{
        width: 200vw;
        height: 40vh;
        margin-top: 5vh;
        padding-right: 2vw;
    }

.right-card-right-side h1{
    font-size: 3vh;
    margin-top: 5vh;
}

    .right-card-left-side p{
        font-size: 2vh;
        margin-top: 5vh;
        padding-right: 5vw;
        margin-left: 2vw;
    }

    .right-card-left-side h1{
        font-size: 3vh;
        margin-top: 8vh;
        margin-left: 2vw;
    }

    .card-line-right{
        border-right: 6px solid white;
        height: 59vh;
        padding-right: 0vw;
        margin-right: 10.5vw;
        margin-left: 0vw;
    }

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .event-card-right{
            margin: 0;
            display: flex;
            width: 100vw;
            height: 60vh;
            color: white;
            flex-direction: column;
            border: 6px solid #1e1e1e;
        }

        .right-card-left-side h1{
            font-size: 3vh;
            margin: 0;
        }
        .right-card-left-side p{
            font-size: 2vh;
            margin: 0;
        }

    }